#root {
  background: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.main-container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin-top: var(--size-600);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-container .card {
  width: 85%;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.card-back {
  position: relative;
  font-size: 9px;
  letter-spacing: var(--size-50);
}

.card-back-content {
  position: absolute;
  right: 12%;
  top: 46%;
}

.card-front {
  position: relative;
  transform: translateY(-43%);
  align-self: flex-start;
}

.card-front-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1.8rem 2rem 2rem 2rem;
}

.card-number {
  text-transform: uppercase;
  letter-spacing: var(--size-50);
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--size-200);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.form-container {
  max-width: 380px;
  width: 100%;
}

.form-container input {
  height: var(--size-800);
  padding-left: var(--size-300);
  border-radius: var(--size-200);
  border: 1px solid var(--clr-secondary-dark-grayish-violet);
  font-size: 1.8rem;
}

.form-container input:focus {
  outline: none;
  border: 2px solid var(--clr-primary-from);
}

.form-container input::placeholder {
  color: var(--clr-secondary-very-dark-violet);
  opacity: 0.25;
  font-size: var(--size-350);
}

.form {
  padding-inline: 12px;
  margin-top: -2rem;
  color: var(--clr-secondary-very-dark-violet);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: var(--size-50);
}

.form-item {
  margin-bottom: var(--size-400);
}

.form-item label {
  display: block;
  margin-bottom: var(--size-100);
}

.exp-date-cvc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-200);
}

.exp-date {
  width: 22%;
  white-space: nowrap;
}

.exp-date input {
  display: inline-block;
}

.exp-date-yy label {
  visibility: hidden;
}

.btn {
  width: 100%;
  padding-block: 1.5rem;
  border: none;
  border-radius: var(--size-200);
  background-color: var(--clr-secondary-very-dark-violet);
  color: var(--clr-secondary-white);
  font-size: var(--size-350);
  outline: none;
  cursor: pointer;
}

@media (min-width: 640px) {
  #root {
    background: url('/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .main-container {
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .card-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .card-container .card {
    width: 100%;
  }

  .card-back {
    font-size: 1.4rem;
    transform: translateX(-15%);
  }

  .card-back-content {
    top: 45%;
  }
  .card-front {
    transform: translate(-35%, -15%);
  }
  .card-number {
    font-size: var(--size-550);
    letter-spacing: 0.42rem;
  }
  .card-footer {
    font-size: var(--size-250);
  }

  .form {
    margin-top: 0;
  }
  .form-item {
    margin-bottom: var(--size-550);
  }
}

@media (max-width: 1200px) and (min-width: 640px) {
  .card-back {
    transform: translateX(0);
  }
  .card-front {
    transform: translate(0, -15%);
  }
  .card-number {
    font-size: large;
  }
}
